@model SuplementShopWEB.MVC.Application.ViewModel.AdminPanel.Users.ListUserVm

@{
    ViewData["Title"] = "Admins";
}

<h1>Admins</h1>

<p>
    <a asp-action="Create">Add Premissions</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Email
            </th>
            <th>
                Role
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                    @Html.DisplayFor(modelItem => item.Role)
                    </td>
                <td>
                    @Html.ActionLink("Remove Permissions", "DeleteAdmin", new {  id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
