@model int

@{
    int orderId = Model;
}

<h3>Your order has been created with id: @orderId</h3>
<h5></h5>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to order list</a>

    <a asp-action="DownloadPdf" asp-route-id="@Model" class="btn btn-primary">Download Pdf</a>
</div>


